@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none; }

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: Malgun Gothic,맑은 고딕,sans-serif;
  color: #333; }

.head__search__box button, .nav__category_box button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0; }

input {
  all: unset; }

.head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px 0 40px 40px; }
  .head__logo__box {
    display: inline; }
    .head__logo__box img {
      width: 120px; }
  .head__search__box {
    position: relative;
    width: 670px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 0 30px;
    padding: 15px 40px 9px 14px; }
    .head__search__box input {
      position: absolute;
      top: 17px;
      right: inherit;
      width: 100%;
      height: 100%;
      font-size: 20px;
      display: block;
      width: 100%;
      height: 18px;
      border: 0;
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: +.03em;
      color: #1f1f1f;
      outline: 0; }
    .head__search__box button {
      position: absolute;
      right: 13px;
      top: 11px; }

.rolling__box {
  background-color: red;
  overflow: hidden;
  position: absolute;
  left: 31px;
  top: 16px;
  width: 578px;
  height: 23px;
  line-height: 22px;
  background-color: #fff;
  text-align: left; }

.rolling__item {
  font-size: 18px;
  color: #7d7d7d;
  font-weight: 600; }

.suggestion__box {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 10;
  width: 670px;
  border: 1px solid #f95139;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  padding: 25px 29px 23px; }

.suggestion__subtitle {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  color: #a6a6a6;
  letter-spacing: -.04em; }

.suggestion__keyword {
  overflow: hidden;
  float: left;
  width: 50%; }
  .suggestion__keyword li {
    overflow: hidden;
    height: 33px;
    padding: 12px 15px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap; }

.suggestion__link__keyword {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -.05em;
  color: #222; }

.num_rank {
  margin-right: 10px;
  font-weight: 700;
  color: #222;
  font-size: 14px; }

.nav {
  display: flex;
  position: relative;
  height: 55px;
  border-top: 1px solid #dcdfe4;
  border-bottom: 1px solid #dcdfe4;
  margin: 10px 20px 20px 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between; }
  .nav .divideLine {
    width: 1px;
    height: 18px;
    margin-top: 18px;
    background-color: #e3e3e3; }
  .nav__wrapper {
    display: flex;
    height: 45px;
    justify-content: space-between; }
  .nav__category_box {
    padding: 5px 20px;
    width: 160px; }
    .nav__category_box button {
      display: grid;
      align-items: center;
      grid-gap: 7px;
      grid-template-columns: auto auto;
      margin: 8px 0;
      font-size: 16px;
      color: #333;
      letter-spacing: -.03em; }
  .nav__menu__box {
    width: 410px; }
    .nav__menu__box ul {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 20px;
      align-items: center;
      list-style-type: none;
      margin: 15px;
      text-align: center; }
      .nav__menu__box ul li a {
        color: #333;
        text-decoration: none;
        font-weight: 600; }
  .nav__hashtag__box {
    width: 670px; }
    .nav__hashtag__box ul {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-gap: 20px;
      align-items: center;
      list-style-type: none;
      margin: 15px;
      text-align: center; }
      .nav__hashtag__box ul li a {
        color: #b4b4b4;
        text-decoration: none;
        font-weight: 600; }
  .nav__mypage__box {
    width: 450px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 0 20px; }
    .nav__mypage__box .mypage__login__box {
      display: flex;
      align-items: center;
      grid-gap: 5px; }
    .nav__mypage__box .mypage__cart__box {
      display: flex;
      align-items: center;
      grid-gap: 5px; }
