
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;    
}

body{
    font-size: 14px;
    line-height: 1.5;
    font-family: Malgun Gothic,맑은 고딕,sans-serif;
    color: #333;
}
// .divideLine {
//     all: unset;
//     border-left: 1px solid #c9c8c8;
//     flex: 0 0 0px;
//     height: 32px;
//     align-self: center;
// }



%pure-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}

input {
    all:unset;
}



.head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin:20px 0 40px 40px;

    &__logo__box{
        display: inline;
        img{
            width: 120px;
        }
    }

    &__search__box {

        $line_borderColor: #e0e0e0;
        position:relative;
        width: 670px;
        height: 50px;
        border: 1px solid $line_borderColor;
        border-radius: 10px;
        margin: 0 30px;
        padding:15px 40px 9px 14px;
    
        input {
            position: absolute;
            top:17px;
            right: inherit;
            width: 100%;
            height: 100%;
            font-size: 20px;
            display: block;
            width: 100%;
            height: 18px;
            border: 0;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: +.03em;
            color: #1f1f1f;
            outline: 0;
        }
        button {
            @extend %pure-btn;
            position: absolute;
            right:13px;
            top:11px;
        }
    }
}
.rolling {
    &__box{
        background-color: red;
        overflow: hidden;
        position: absolute;
        left: 31px;
        top: 16px;
        width: 578px;
        height: 23px;
        line-height: 22px;
        background-color: #fff;
        text-align: left;
    }

    &__item{
        font-size: 18px;
        color: rgb(125, 125, 125);
        font-weight: 600;
    }
}


.suggestion {
    &__box{
           // border: 1px solid #ff463f;
    // border-radius: 10px;
    // position:relative;
    // width: 670px;
    // height: 300px;
    // margin:33px 0;
    // left:-14px;
    // background-color: white;
    display:none;
    position: absolute;
    left: 0;
    top: 48px;
    z-index: 10;
    width: 670px;
    // height: 300px;
    border: 1px solid #f95139;
    border-radius: 10px;
    background-color: #fff;
    // background-color: blue;
    box-sizing: border-box;
    text-align: left;
    // padding: 20px 20px;
    overflow: hidden;
    padding: 25px 29px 23px;

    }

    &__subtitle{
        display: block;
        padding-bottom: 5px;
        font-size: 16px;
        color: #a6a6a6;
        letter-spacing: -.04em;
    }

    &__keyword{
        overflow: hidden;
        float: left;
        width: 50%;

        li {
            overflow: hidden;
            height: 33px;
            padding: 12px 15px 0 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__link__keyword{
        
        text-decoration: none;
        font-size: 14px;
        letter-spacing: -.05em;
        color: #222;


    }
}
.num_rank{
    margin-right: 10px;
    font-weight: 700;
    color: #222;
    font-size: 14px;


}


.nav {

    $search_borderColor: #e0e0e0;
    $text_darkColor :#333;
    display: flex;
    $menu_font_size:16px;
    position: relative;
    height: 55px;
    border-top: 1px solid #dcdfe4;
    border-bottom: 1px solid #dcdfe4;
    margin: 10px 20px 20px 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    .divideLine{
        width: 1px;
        height: 18px;
        margin-top: 18px;
        background-color: #e3e3e3;
    }

    &__wrapper {
        display: flex;
        height: 45px;
        justify-content: space-between;
    }

    &__category_box{
        padding: 5px 20px;
        width: 160px;
        button {
            @extend %pure-btn;
            display:grid;
            align-items: center;
            grid-gap:7px;
            grid-template-columns: auto auto;
            margin:8px 0;
            font-size: $menu_font_size;
            color: #333;
            letter-spacing: -.03em;
        }
    }

    &__menu__box {
        width: 410px;
        ul{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap:20px;
            align-items : center;
            list-style-type: none;
            margin:15px;
            text-align: center;
            
            li a {
                color:$text_darkColor;
                text-decoration:none;
                font-weight: 600;

            }
        }
    }

    &__hashtag__box {
        width: 670px;
        ul{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap:20px;
            align-items : center;
            list-style-type: none;
            margin:15px;
            text-align: center;
            
            li a {
                color:rgb(180, 180, 180);
                text-decoration:none;
                font-weight: 600;
            }
        }
    }

    &__mypage__box {
        width:450px;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        padding: 0 20px;

        .mypage{

            &__login__box{
                display:flex;
                align-items: center;
                grid-gap:5px;
                // grid-template-columns: auto auto;
            }

            &__cart__box{
                display:flex;
                align-items: center;
                grid-gap:5px;

            }
        }
        
    }
    
}